<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="HEXAGON_LOG_DIR" value="logs"/>
    <property name="HEXAGON_LOG_FILE" value="hexagon"/>
    <property name="HEXAGON_LOG_THRESHOLD" value="INFO"/>

    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HEXAGON_LOG_DIR}/${HEXAGON_LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HEXAGON_LOG_DIR}/${HEXAGON_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <logger name="hexagon" level="${HEXAGON_LOG_THRESHOLD}" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
